{% extends "base.html" %} {% load staticfiles %} {% block content %}
<! -- 1st ROW OF PANELS -->
<div class="row">
    <!-- TWITTER PANEL -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel -->
    </div>
    <!-- /col-md-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel -->
    </div>
    <!-- /col-md-4 -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel -->
    </div>
    <!-- /col-md-4 -->
</div>
<! --/END 1ST ROW OF PANELS -->
<! -- 2ND ROW OF PANELS -->
<div class="row">
    <! -- TODO PANEL -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel -->
    </div>
    <! --/col-md-4 -->
    <! -- PROFILE 01 PANEL -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel-->
    </div>
    <! --/col-md-4 -->
    <! -- PROFILE 02 PANEL -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="twitter-panel pn" style="background: url('{% static 'assets/img/food.jpg' %}') no-repeat center top;">
            <i class="fa fa-twitter fa-4x"></i>
            <p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
            <p class="user">@Alvrz_is</p>
            <button class="btn btn-small btn-theme04">View Full</button>
        </div>
        <! --/content-panel-->
    </div>
    <! --/ col-md-4 -->
</div>
<! --/END 2ND ROW OF PANELS -->
{% endblock %}
